@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.image-generator{
    background: url("images/bgimg2.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    
}

.image-generator::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}

.image-generator .content{
    text-align: center;
    color: #fff;
    padding: 0 15px;
    max-width: 760px;
    position: relative;
}

.image-generator h1{
    font-size: 2.5em;
    font-weight: 700;
}

.image-generator p{
    font-size: 1.35em;
    margin-top: 10px;
}

.image-generator .generate-form{
    height: 46px;
    width: 100%;
    padding: 6px;
    margin: 45px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 30px;
}

.generate-form .prompt-input{
    height: 100%;
    width: 100%;
    padding: 0 17px;
    font-size: 1rem;
    border: none;
    outline: none;
    background: none;
}

.generate-form .controls {
    display: flex;
    height: 90%;
    gap: 15px;
}

.generate-form .img-quantity{
    
    font-size: 1rem;
    border: none;
    outline: none;
    background: none;
}

.generate-form .generate-btn{
    height: 90%;
    padding: 0 25px;
    font-size: 1rem;
    color: #fff;
    background: #007bff;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
}

.image-gallery{
    display: flex;
    gap: 15px;
    padding: 0 15px;
    max-width: 1250px;
    margin: 50px auto;
    justify-content: center;
    flex-wrap: wrap;
}

.image-gallery .img-card{
    width: 285px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}



.image-gallery .img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-gallery .img-card.loading img{
    width: 80px;
    height: 80px;
}

.image-gallery .img-card .download-btn{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #fff;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
}

.image-gallery .img-card:not(.loading):hover .download-btn{
    display: flex;
}

.image-gallery .img-card .download-btn img{
    width: 14px;
    height: 14px;
}

    @media screen and (max-width: 760px) {
        .image-generator h1 {
            font-size: 1.8em;
        }

        .image-generator p {
            font-size: 1em;
        }

        .image-generator .generate-form {
            margin-top: 30px;
            height: 52px;
            display: block;
        }

        .generate-form .controls{
            height: 40px;
            margin-top: 15px;
            justify-content: flex-end;
            align-items: center;
        }

        .generate-form .img-quantity{
            color: #fff;
        }

        .generate-form .img-quantity option{
            color: #000;
        }

        .generate-form .generate-btn{
            height: 100%;
        }

        .image-gallery .img-card:not(.loading) .download-btn{
            display: flex;
        }

        .image-gallery {
            margin-top: 20px;
        }
    }

    @media screen and (max-width: 550px){
        .imgage-gallery .img-card{
            width: 100%;
        }
    }