*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(108, 194, 194);
    height: 100%;
    border: 10px solid rgb(8, 8, 44);
}

.content{
    margin: 0 auto;
    max-width: 700px;
}

.topsection{
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.topsection h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.topsection h4 {
    font-size: 20px;
    text-align: end;
}

.topsection img{
    height: 8cm;
    border-radius: 3cm;
}

h2{
    font-size: 30px;
    margin-top: 20px;
}

footer{
    text-align: end;
    margin: 20px;
}