*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
}

.small{
    font-size: 20px;
}

.firstbox{
    max-width: 900px;
    margin: 0 auto;
}

.secondbox{
    max-width: 600px;
    border-radius: 10px;
    background-color: #fff;
    margin: 50px auto;
    padding: 15px;
    box-shadow: 1px 1px 10px rgba(1,1,1,0.1);
}

.firstpart-form{

}

.form-ke-andar{
    display:grid;
    grid-template-columns: minmax(200px, 1fr);

}